.projects {
  flex: 1;
  padding: 120px 0 40px 0;
  color: var(--primary-white-color);
  background-image: var(--gradient-background);
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 70px;
  padding: 30px 0;
}

.link {
  position: relative;
  display: flex;

  &::after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 3px solid transparent;
    border-radius: 5px;
    background-color: rgba(44, 44, 44, 0.2);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover::after,
  &:focus::after {
    border: 3px solid var(--primary-yellow-color);
    background-color: rgba(44, 44, 44, 0.6);
  }
}

.title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 25px;
}

.link img {
  border-radius: 5px;
}
