.contacts {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 130px 0 50px 0;
  min-height: 100%;
  color: var(--primary-white-color);
  background-image: var(--gradient-background);
}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
  column-gap: 120px;
  row-gap: 90px;
}
