.contacts {
  display: flex;
  flex: 1;
  min-height: 100%;
  padding: 50px 0;
  color: var(--primary-white-color);
  background-image: url('../../assets/images/bg-buildings.webp');
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

.content {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  row-gap: 90px;
  column-gap: 120px;
}
