.skills {
  min-height: 865px;
  padding: 100px 0;
  color: var(--primary-white-color);
  border-top: 2px solid transparent;
  border-image-source: var(--gradient-border);
  border-image-slice: 1;
  background-image: var(--gradient-background);
}

.content {
  text-align: center;
}

.title {
  position: relative;
  display: inline-block;
  margin-bottom: 63px;

  text-transform: uppercase;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.32;

  &::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    height: 3px;
    width: 60%;
    transform: translateX(-50%);
    background-color: var(--primary-white-color);
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 40px;
  row-gap: 30px;
  min-height: 570px;
}

.item {
  width: 270px;
  height: 270px;
}
