.content {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.app-bar {
  position: relative;
  z-index: 1;
  text-align: end;
  padding-top: 13px;
  padding-bottom: 5px;

  color: var(--primary-white-color);
  fill: var(--primary-white-color);

  background: var(--secondary-black-color) 0%;
}

.app-bar-light {
  color: var(--primary-black-color);
  fill: var(--primary-black-color);

  background: var(--primary-white-color);
}

.box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  max-width: 596px;
}
