.content {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.app-bar {
  position: relative;
  z-index: 31;
  text-align: end;
  padding-top: 20px;
  padding-bottom: 8px;
  background: var(--secondary-black-color) 0%;
}

.app-bar-light {
  background: var(--primary-white-color);
}
