.mySwiper {
  --swiper-pagination-color: #00c4f0;

  @media screen and (max-width: 1023px) {
    max-width: 700px;
  }
}

.content {
  display: flex;
  overflow: hidden;
  align-items: center;
  row-gap: 50px;
  max-width: 1000px;
  margin: 0 auto;
  color: var(--third-white-color);
  border-radius: 5px;
  background-image: var(--gradient-background-secondary);
  box-shadow: 0 4px 15px 0 rgba(27, 27, 27, 0.28);

  @media screen and (max-width: 1023px) {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 500px;
  }
}

.desc {
  text-align: center;

  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 25px;
  max-width: 500px;
  padding: 25px 40px;
}

.title {
  font-size: 22px;
  font-weight: 300;

  @media screen and (max-width: 425px) {
    font-size: 20px;
  }
}

.text {
  font-size: 16px;
  line-height: 1.42;
  text-align: center;

  @media screen and (max-width: 425px) {
    font-size: 14px;
  }
}

.link {
  font-size: 18px;

  color: var(--secondary-yellow-color);

  &:focus-visible {
    outline: 1px solid var(--primary-blue-color);
  }

  &:hover {
    color: var(--primary-yellow-color);
  }

  @media screen and (max-width: 425px) {
    font-size: 14px;
  }
}
