.mySwiper {
  position: relative;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 50px;
  width: 85%;
  min-height: 600px;
  margin: 0 auto;
  padding: 50px;
  border-radius: 29px;
  color: var(--third-white-color);
  box-shadow: 0px 4px 15px 0px rgba(27, 27, 27, 0.28);
  background-image: linear-gradient(
    90deg,
    var(--primary-black-color) 0%,
    var(--secondary-black-color) 100%
  );

  @media screen and (max-width: 1112px) {
    justify-content: center;
    width: 65%;
    padding: 20px;
  }

  @media screen and (max-width: 767px) {
    justify-content: center;
    width: 90%;
  }
}

.content-light {
  color: var(--primary-black-color);
  background-image: linear-gradient(
    90deg,
    var(--secondary-white-color) 0%,
    var(--primary-white-color) 100%
  );
}

.desc {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  width: 300px;

  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: 300;

  @media screen and (max-width: 425px) {
    font-size: 20px;
  }
}

.text {
  text-align: center;
  font-size: 18px;
  line-height: 1.42;

  @media screen and (max-width: 425px) {
    font-size: 14px;
  }
}

.image {
  border-radius: 20px;
}

.link {
  font-size: 18px;
  color: var(--secondary-yellow-color);

  &:hover {
    color: var(--primary-yellow-color);
  }

  @media screen and (max-width: 425px) {
    font-size: 14px;
  }
}
