.form {
  max-width: 400px;
  padding-top: 30px;

  @media (max-width: 430px) {
    flex: 1;
    max-width: 300px;
  }
}

.block {
  display: flex;
  column-gap: 20px;

  @media (max-width: 430px) {
    display: block;
  }
}

.input,
.textarea {
  position: relative;
  display: block;
  width: 100%;
  padding: 10px 12px;

  font-family: 'Unbounded', sans-serif;
  font-size: 14px;
  line-height: 1.32;
  outline: none;
  border: none;
  border-bottom: 2px solid;
  border-color: var(--primary-white-color);
  color: var(--third-white-color);
  background-color: transparent;

  &::placeholder {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--third-white-color);
  }

  &:focus {
    border-color: var(--primary-blue-color);
  }
}

.textarea {
  height: 120px;
  margin-bottom: 25px;
  resize: none;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  width: 220px;
  height: 50px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;

  font-size: 18px;
  line-height: 1.25;
  font-weight: 400;
  cursor: pointer;
  border: none;
  color: var(--third-white-color);
  fill: var(--third-white-color);
  background-color: var(--secondary-yellow-color);
  box-shadow: 0px 2px 13px 0px rgba(226, 158, 0, 0.48);
  transition: background-color 250ms linear, transform 50ms linear;
  animation: showBnt 1s forwards;

  &:focus-visible {
    outline: 1px solid var(--primary-blue-color);
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--primary-yellow-color);
    }
  }

  @media (hover: none) {
    &:active {
      background-color: var(--primary-yellow-color);
    }
  }
  &:active {
    transform: scale(0.98);
  }
}
