.label {
  font-size: 14px;
  font-weight: 400;

  position: relative;
  display: block;
  margin-bottom: 25px;
  color: var(--third-white-color);
}

.error {
  font-size: 12px;
  font-weight: 300;

  position: absolute;
  bottom: -18px;
  color: red;
}
