.content {
  display: flex;
  align-items: center;
  margin-right: 10px;

  @media (max-width: 390px) {
    flex-direction: column;
    margin-right: 0px;
  }
}

.block-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  font-family: 'Unbounded', sans-serif;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  color: inherit;
  background-color: transparent;
  border: none;
  transition: color 250ms linear, scale 250ms linear;

  @media (hover: hover) {
    &:hover {
      color: var(--primary-blue-color);
    }
  }

  @media (hover: none) {
    &:active {
      color: var(--primary-blue-color);
    }
  }

  &:focus-visible {
    outline: 1px solid var(--primary-blue-color);
  }

  @media (max-width: 390px) {
    font-size: 14px;
  }
}

.active {
  scale: 1.2;
  color: var(--primary-blue-color);
}

.slash {
  font-weight: 400;
  color: var(--third-white-color);

  @media (max-width: 390px) {
    display: none;
  }
}
