.content {
  display: flex;
  margin-right: 10px;

  @media (max-width: 390px) {
    flex-direction: column;
    margin-right: 0px;
  }
}

.button {
  font-family: 'Unbounded', sans-serif;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  color: inherit;
  background-color: transparent;
  border: none;

  @media (max-width: 390px) {
    font-size: 14px;
  }
}

.button:first-child::after {
  content: '/';
  margin-left: 12px;
  color: var(--third-white-color);

  @media (max-width: 390px) {
    display: none;
  }
}

.active {
  color: var(--primary-blue-color);
}
