.content {
  display: flex;
  align-items: center;
  margin-right: 10px;

  @media (max-width: 390px) {
    flex-direction: column;
    margin-right: 0px;
  }
}

.button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  color: inherit;
  background-color: transparent;
  border: none;

  @media (max-width: 390px) {
    font-size: 14px;
  }
}

.slash {
  font-size: 16px;
  @media (max-width: 390px) {
    display: none;
  }
}
.active {
  color: var(--primary-blue-color);
}
