.link {
  font-weight: 400;
  text-align: center;

  display: flex;
  align-items: center;
  padding: 8px 15px;
  transition: background-color 250ms linear;
  color: inherit;
  border-radius: 4px;
  background-color: var(--primary-blue-color);

  &:focus-visible {
    outline: 1px solid var(--primary-blue-color);
  }

  &:hover {
    background-color: var(--secondary-yellow-color);
  }
}
