.aboutMe {
  border-top: 2px solid transparent;
  border-image-source: var(--gradient-border);
  border-image-slice: 1;

  background-image: var(--gradient-background);
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
  row-gap: 20px;
  padding: 100px 0;
  overflow: hidden;
  background-image: url('../../assets/images/pngwing.com (6).png');
  background-repeat: no-repeat, repeat;
  background-position: right;
}

.box-desc {
  position: relative;
  flex-grow: 1;
  max-width: 496px;
  min-height: 826px;
  padding: 0 50px 50px;
  border-radius: 5px;
  color: var(--primary-white-color);
}

.title {
  margin-bottom: 27px;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.32;
}

.text {
  font-size: 18px;
  line-height: 1.34;
  letter-spacing: 0.2px;
}
