.aboutMe {
  border-top: 2px solid transparent;
  border-image-source: var(--gradient-border);
  border-image-slice: 1;
}

.content {
  position: relative;
  display: flex;
  flex-wrap: wrap-reverse;
  row-gap: 20px;
  column-gap: 54px;
  padding: 100px 0;
  overflow: hidden;
  background-image: url('../../assets/images/bg-section-about-me.webp');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;

  @media (max-width: 1023px) {
    justify-content: center;
  }
}

.box-desc {
  flex-grow: 1;
  max-width: 620px;
  min-height: 782px;
  border-radius: 5px;
  color: var(--primary-white-color);
}

.title {
  margin-bottom: 50px;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.32;
}

.text {
  white-space: pre-line;
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 1.5px;
}
