.aboutMe {
  border-top: 2px solid transparent;
  border-image-source: var(--gradient-border);
  border-image-slice: 1;
}

.content {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 54px;
  padding: 100px 0;
  overflow: hidden;
  background-image: url('../../assets/images/bg-section-about-me.webp');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  @media (max-width: 1023px) {
    background-position: bottom;
  }
}

.box-desc {
  flex-grow: 1;
  max-width: 650px;
  min-height: 782px;
  padding-top: 30px;
  border-radius: 5px;
  overflow: hidden;
  color: var(--primary-white-color);
}

.title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.32;
}

.text {
  position: relative;
  white-space: pre-line;
  text-align: center;
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 1.5px;
}
