.summary {
  flex: 1;
  min-height: 100%;
  color: var(--primary-white-color);
  background-image: linear-gradient(
    123deg,
    var(--primary-black-color) 0%,
    var(--secondary-black-color) 100%
  );
}

.summary-light {
  color: var(--primary-black-color);
  background-image: linear-gradient(
    123deg,
    var(--secondary-white-color) 0%,
    var(--primary-white-color) 100%
  );
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  padding: 50px 0;
  background-image: url("../../assets/images/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cv {
  filter: blur(2px);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.47);
}

.boxBtn {
  display: flex;
  column-gap: 30px;
}

.link {
  display: inline-block;
  padding: 6px 15px;
  color: inherit;
  background-color: var(--secondary-yellow-color);

  &:hover {
    background-color: var(--primary-yellow-color);
  }
}
