.summary {
  flex: 1;
  padding: 130px 0 50px 0;
  min-height: 100%;
  color: var(--primary-white-color);
  background-image: var(--gradient-background);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  background-image: url('../../assets/images/background.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.content img {
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.47);
}

.linkList {
  display: flex;
  column-gap: 30px;
}

.link {
  display: inline-block;
  padding: 6px 15px;
  font-weight: 400;
  color: inherit;
  background-color: var(--secondary-yellow-color);

  &:hover {
    background-color: var(--primary-yellow-color);
  }
}
