.summary {
  flex: 1;
  min-height: 100%;
  padding: 50px 0;
  color: var(--primary-white-color);
  background-image: url('../../assets/images/bg-buildings.webp');
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
}

.content img {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.47);
}

.linkList {
  display: flex;
  column-gap: 30px;
}
