.footer {
  padding: 50px 20px;
  color: var(--primary-white-color);
  fill: var(--primary-white-color);
  background-color: var(--primary-black-color);
}

.footer-light {
  color: var(--primary-black-color);
  fill: var(--primary-black-color);
  background-color: var(--primary-white-color);
}

.content {
  max-width: 810px;
  display: flex;
  justify-content: space-around;
  flex: 1;
  flex-wrap: wrap;
  margin: 0 auto;
  column-gap: 92px;
  row-gap: 50px;
}

.block-copyright {
  display: flex;
  flex-direction: column;

  row-gap: 18px;

  @media (max-width: 674px) {
    align-items: center;
  }
}

.text {
  margin-top: auto;
}
