.footer {
  padding: 50px 20px;
  color: var(--primary-white-color);
  fill: var(--primary-white-color);
  border-top: 1px solid transparent;
  border-image-source: var(--gradient-border);
  border-image-slice: 1;
}

.content {
  max-width: 810px;
  display: flex;
  justify-content: space-around;
  flex: 1;
  flex-wrap: wrap;
  margin: 0 auto;
  column-gap: 92px;
  row-gap: 50px;
}

.block-copyright {
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  @media (max-width: 674px) {
    align-items: center;
  }
}
