.footer {
  padding: 50px 0;
  color: var(--primary-white-color);
  fill: var(--primary-white-color);
  background-image: linear-gradient(
    90deg,
    var(--primary-black-color) 0%,
    var(--secondary-black-color) 100%
  );
}

.footer-light {
  color: var(--primary-black-color);
  fill: var(--primary-black-color);
  background-image: linear-gradient(
    90deg,
    var(--secondary-white-color) 0%,
    var(--primary-white-color) 100%
  );
}

.content {
  max-width: 810px;
  display: flex;
  justify-content: space-around;
  flex: 1;
  flex-wrap: wrap;
  margin: 0 auto;
  column-gap: 35px;
  row-gap: 48px;
}

.box-copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 18px;
}

.text {
  margin-top: auto;
}
