.footer {
  padding: 50px 0;
  background: var(--primary-gray-color);
}

.footer-light {
  background: var(--third-white-color);
}

.content {
  max-width: 715px;
  display: flex;
  padding: 0 30px;
  flex-wrap: wrap;
  margin: 0 auto;
  column-gap: 115px;
  row-gap: 28px;
}

.box-copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 18px;
}
