.block-contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 18px;

  @media (max-width: 787px) {
    justify-content: center;
  }
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 12px;

  @media (max-width: 787px) {
    align-items: center;
  }
}

.item {
  display: flex;
  column-gap: 5px;
}

.link {
  display: flex;
  align-items: center;
  column-gap: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: inherit;
  fill: inherit;

  &:focus-visible {
    outline: 1px solid var(--primary-blue-color);
  }

  &:hover {
    color: var(--primary-blue-color);
    fill: var(--primary-blue-color);
  }
}
