.project {
  flex: 1;
  padding: 50px 0;
  color: var(--primary-white-color);
}

.backLink {
  display: inline-flex;
  justify-content: center;
  color: inherit;
  fill: var(--secondary-yellow-color);

  &:focus-visible {
    outline: 1px solid var(--primary-blue-color);
  }

  &:hover {
    fill: var(--primary-yellow-color);
  }
}

.content {
  display: flex;
  column-gap: 40px;
  padding: 20px 55px 0;

  @media (max-width: 1023px) {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 30px;
  }

  @media (max-width: 767px) {
    padding: 20px 15px 0;
  }
}

.text {
  font-size: 16px;
  line-height: 1.34;
  text-align: justify;
  letter-spacing: 0.2px;

  max-width: 550px;
  min-height: 268px;
  margin-bottom: 40px;
  border-radius: 14px;
}

.content img {
  border: 5px solid var(--secondary-yellow-color);
  border-radius: 4px;
}

.blockLinks {
  display: flex;
  column-gap: 20px;

  @media (max-width: 1023px) {
    justify-content: center;
  }
}
