@import-normalize;
@import "./assets/styles/variables.css";

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto-v30-latin-300.woff") format("woff");
  src: url("./assets/fonts/roboto-v30-latin-300.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto-v30-latin-regular.woff") format("woff");
  src: url("./assets/fonts/roboto-v30-latin-regular.woff2") format("woff2");
  font-weight: 400;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 0;
  color: var(--primary-white-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
