@import 'normalize.css';
@import './assets/styles/variables.css';

@font-face {
  font-family: 'Unbounded';
  font-weight: 300;

  src: url('./assets/fonts/unbounded-v8-cyrillic_latin-300.woff2') format('woff2');
}
@font-face {
  font-family: 'Unbounded';
  font-weight: 400;

  src: url('./assets/fonts/unbounded-v8-cyrillic_latin-regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Unbounded';
  font-weight: 700;

  src: url('./assets/fonts/unbounded-v8-cyrillic_latin-700.woff2') format('woff2');
}

::-webkit-scrollbar {
  width: 12px;
  background-color: var(--secondary-gray-color);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--primary-blue-color);

  &:hover {
    background-color: var(--secondary-blue-color);
  }
}

html,
body {
  font-family: 'Unbounded', sans-serif;
  font-weight: 300;

  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-image: var(--gradient-background);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:active,
a:focus {
  outline: none;
}

button:active,
button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.swiper-button-prev,
.swiper-button-next {
  width: 30px;
  height: 60px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--primary-blue-color);

  &:hover {
    color: var(--primary-yellow-color);
  }

  &::after {
    transform: scale(1.2);
  }

  @media (max-width: 767px) {
    display: none;
  }
}
