:root {
  --primary-blue-color: #00c4f0;
  --primary-white-color: #e4e4e4;
  --secondary-white-color: #e3e3e3;
  --primary-black-color: #1c1c1c;
  --secondary-black-color: #2c2c2c;
  --primary-yellow-color: #e2a300;
  --secondary-yellow-color: #e29500;
}
