:root {
  --primary-blue-color: #00c4f0;
  --primary-white-color: #e4e4e4;
  --secondary-white-color: #f5f5f5;
  --third-white-color: #ffffff;
  --primary-gray-color: #414141;
  --secondary-gray-color: #515151;
  --third-gray-color: #c5c5c5;
  --primary-black-color: #1c1c1c;
  --secondary-black-color: #2c2c2c;
  --primary-yellow-color: #e2b000;
  --secondary-yellow-color: #e29300;
  --gradient-background: radial-gradient(circle, #03314d, #0a0a0a);
  --gradient-background-secondary: radial-gradient(circle, #2d3a4b, #191919);

  --gradient-border: linear-gradient(
    270deg,
    rgba(74, 207, 236, 0.21) 0%,
    #32abc3 53.12%,
    rgba(74, 197, 236, 0.23) 100%
  );
}
