.button {
  padding: 14px 80px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  border: 2px solid var(--secondary-yellow-color);
  cursor: pointer;
  color: inherit;
  overflow: hidden;
  animation: showBnt 1s forwards;
  transition: color 250ms ease-in-out;

  &:hover {
    color: var(--primary-black-color);
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-yellow-color);
    transition: transform 250ms ease-in-out;
    z-index: -1;
  }

  &:hover::before {
    transform: translateX(100%);
  }

  @media (max-width: 767px) {
    margin: 40px auto;
  }
}

@keyframes showBnt {
  0% {
    transform: translateX(-600px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
